<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Car Rental</title>
  <!-- External CSS -->
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap" rel="stylesheet"/>
  <!-- External JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/pexels@2.0.1/dist/pexels.min.js"></script>
  <!-- Inline Styles -->
  <style>
    section {
      text-align: center;
    }

    #carTable {
      margin: 0 auto;
    }

    #carTable tbody tr {
      cursor: pointer;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <h1>CarMatch</h1>
    <nav>
      <div class="hamburgerMenu">
        <button class="hamburgerButton">☰</button>
        <div class="navLinks">
          <a th:if="${authenticated}" th:href="@{/profile}">Profile</a>
          <a th:if="${authenticated}" th:href="@{/vehicles/listings}">Vehicles</a>
          <a th:unless="${authenticated}" th:href="@{/login}">Login</a>
          <a th:unless="${authenticated}" th:href="@{/signup}">Sign up</a>
          <a th:if="${authenticated}" th:href="@{/logout}">Logout</a>
        </div>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/vehicles/carRental">Rent or Exchange a Car</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="container tableContainer">
    <section>
      <h2>Available Cars for Rental & Exchange</h2>
      <!-- Table to display available cars -->
      <table id="carTable">
        <thead>
        <tr>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Location</th>
          <th>Price</th>
          <th>Image</th>
        </tr>
        </thead>
        <tbody th:each="car:${allCars}">
        <tr th:onclick="'viewCarDetails(' + ${car.id} + ')'" >
          <td th:text="${car.year}">Year</td>
          <td th:text="${car.make}">Make</td>
          <td th:text="${car.model}">Model</td>
          <td th:text="${car.location}">Location</td>
          <td th:text="'$' + ${car.price}">Price</td>
          <td><img th:src="${car.imageUrl}" th:alt="${car.make} + ' ' + ${car.model}" style="width: 400px"/></td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</main>
<footer>
  <div class="container">
    <p>&copy; 2024 CarMatch - Car Rental & Exchange Platform</p>
  </div>
</footer>
<script src="/js/index.js"></script>
<script src="/js/carRental.js"></script>
</body>
</html>

