<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <h1>CarMatch</h1>
        <nav>
            <div class="hamburgerMenu">
                <button class="hamburgerButton">☰</button>
                <div class="navLinks">
                    <a th:if="${authenticated}" th:href="@{/profile}">Profile</a>
                    <a th:if="${authenticated}" th:href="@{/vehicles/listings}">Vehicles</a>
                    <a th:unless="${authenticated}" th:href="@{/login}">Login</a>
                    <a th:unless="${authenticated}" th:href="@{/signup}">Sign up</a>
                    <a th:if="${authenticated}" th:href="@{/logout}">Logout</a>
                </div>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/vehicles/carRental">Rent or Exchange a Car</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="signup-section">
        <div class="container">
            <h2>Sign Up</h2>
            <form method="post" th:action="@{/signup}" th:object="${user}">
                <!-- Form fields for signup -->
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
                <br>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>
                <br>
                <div th:if="${error}" class="error-message">
                    <span th:text="${error}"></span>
                </div>
                <button type="submit">Sign up</button>
            </form>
            <p>Already have an account?<a class="redirectButton" th:href="@{/login}">Log in</a></p>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <p>&copy; 2024 CarMatch - Car Rental & Exchange Platform</p>
    </div>
</footer>

<script src="/js/index.js"></script>
</body>
</html>
